[submodule "submodules/umka"]
	path = submodules/umka
	url = https://github.com/vtereshkov/umka-lang.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/gcc-deps-graph"]
	path = submodules/gcc-deps-graph
	url = git@github.com:ProkopRandacek/gcc-deps-graph.git
