name: build_action

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: make
      run: |
        sudo apt-get install gcc make unzip libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev mono-runtime gcc-mingw-w64-x86-64
        make build
  win-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: make
      run: |
        sudo apt-get install gcc make unzip libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev mono-runtime gcc-mingw-w64-x86-64
        make wbuild
